
<div class="carousel-actualite">
  {% for row in rows %}
    <div class="box-succes-stories">
    <div class="bgwhite-success pb-3">
      {{ row.content }}
      </div>
    </div>
  {% endfor %}
</div>
